﻿@model OCSolution.Business.Value.PaginatorBase
@{
    int rowSize = 3;
    string active = "bg-gray-300 theme-color";
}

<ul class="pagination">

    @*@if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <span class="page-link"
                      aria-label="Previous">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                </span>
            </li>
        }*@

    @foreach (int num in Model.GetPagerRow(rowSize))
    {
        <li class="page-item my-point-link my-pg-btn"
            data-content="@num">
            <span class="page-link @(num == Model.PageNumber ? active : null)">@num</span>
        </li>
    }

    @*@if (Model.HasNextPage)
        {
            <li class="page-item">
                <span class="page-link"
                      aria-label="Next">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                </span>
            </li>
        }*@
</ul>
