﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center jumbotron"
     style="margin-top: 15%">
    <h1 class="display-2">Online Class</h1>
    <h3 class="display-4">Dashboard</h3>
    <a class="btn btn-lg btn-success mt-5"
       href="/identity/login">Авторизация</a>
</div>
