﻿@model bool

@if (Model)
{
    <div style="position:absolute; top:90px; left:190px;">Недостаточно данных</div>
}
else
{
    <div style="position:absolute; top:290px; left:290px;">Недостаточно данных</div>
}
