﻿@page "{handler?}"
@model CompanyModel
@inject IAntiforgery _antiforgery
@inject OnlineClass.Server.IAppState _appState
@inject OCSolution.Business.IServCompany _servCompany
@using static OCSolution.Business.Utils.CardAreaState
@{
    ViewData["Title"] = "Company";
    ViewData["Theme"] = "_stateService";

    var afToken = _antiforgery.GetAndStoreTokens(HttpContext).RequestToken;

    var areaState = _appState.CompanyAreaState;
    var company = await _servCompany.GetSelectedCompanyAsync(
                            _appState.SelectedCompany);
}
<input name="__RequestVerificationToken" type="hidden" value="@afToken"/>

<div class="c-wrapper">
    <header class="c-header c-header-light c-header-fixed">
        <partial name="_Partial_Sidebar_HeaderLogo" />
        <partial name="_Button_ThemeSwitcher" />
        <partial name="_Component_HeaderLineMain_BudgeArea" />

        <script>
            $(document).on('change touchstart', '#_change_company_combo', function () {
                var requestToken = $('input[name="__RequestVerificationToken"]').val();

                $.get('/dashboard/company/spinner', {
                    __RequestVerificationToken: requestToken
                }, spinnerRes => ChangeSelectItem(spinnerRes, $(this).children("option:selected").val()));

                function ChangeSelectItem(spinnerRes, item) {
                    $('#_company_area_card').empty();
                    $('#_company_area_card').append(spinnerRes);

                    $.post('/dashboard/company/changecompanyselectitem', {
                        companyId: item,
                        __RequestVerificationToken: requestToken
                    }, selReses => UpdateAreaCard(selReses, item));
                }

                function UpdateAreaCard(selReses, item) {
                    console.log("company select changed");
                    $('#_subheaderline').empty();
                    $('#_subheaderline').append(selReses);

                    $.post('/dashboard/company/updateareacard', {
                        companyId: item,
                        __RequestVerificationToken: requestToken
                    }, function (res2) {
                        console.log("company areacard updated");
                        $('#_company_area_card').empty();
                        $('#_company_area_card').append(res2);
                    });
                }
            });
        </script>

        <div class="c-subheader justify-content-between px-3"
             id="_subheaderline">
            <partial name="_Component_SubHeaderLine" />
        </div>
    </header>
    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12"
                         id="_company_area_card">
                        @if (areaState == COMPANY_ADDNEW)
                        {
                            <partial name="_Partial_Company_New" />
                        }
                        @if (areaState == COMPANY_EDIT)
                        {
                            <partial name="_Partial_Company_Update"
                                     model=@company.Id />
                        }
                        @if (areaState == COMPANY_GROUPS)
                        {
                            <partial name="_Partial_Company_GroupsCard"
                                     model=@(company.PinnedGroups, 1) />
                        }
                        @if (areaState == COMPANY_STUDENTS)
                        {
                            <partial name="_Partial_Company_StudentsCard"
                                     model=@(company.PinnedGroups, 1) />
                        }
                        @if (areaState == COMPANY_STATS)
                        {
                            <partial name="_Partial_Company_Card"
                                     model="null" />
                        }
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    $(document).on('click touchstart', '#_add_company', function () {
        $.get('dashboard/company/newcompany', function (res) {
            $('#_company_area_card').empty();
            $('#_company_area_card').append(res);
        });
    });

    $(document).on('click touchstart', '#_edit_company', function () {
        $.get('/dashboard/company/spinner', function (res) {
            $('#_company_area_card').empty();
            $('#_company_area_card').append(res);
        });

        $.get('dashboard/company/editcompany', function (res) {
            $('#_company_area_card').empty();
            $('#_company_area_card').append(res);
        });
    });

    $(document).on('click touchstart', '#_company_card', function () {
        $.get('/dashboard/company/spinner', function (res) {
            $('#_company_area_card').empty();
            $('#_company_area_card').append(res);
        });

        $.get('dashboard/company/card', function (res) {
            $('#_company_area_card').empty();
            $('#_company_area_card').append(res);
        });
    });

    $(document).on('click touchstart', '#_company_groups', function () {
        var requestToken = $('input[name="__RequestVerificationToken"]').val();

        $.get('/dashboard/company/spinner', {
            __RequestVerificationToken: requestToken
        }, spinnerRes => GetGroups(spinnerRes, $(this).attr('data-content')));

        function GetGroups(spinnerRes, grCont) {
            $('#_company_area_card').empty();
            $('#_company_area_card').append(spinnerRes);

            $.get('dashboard/company/groups', {
                groups: grCont
            }, function (res) {
                $('#_company_area_card').empty();
                $('#_company_area_card').append(res);
            });
        }
    });

    $(document).on('click touchstart', '#_company_students', function () {
        var requestToken = $('input[name="__RequestVerificationToken"]').val();

        $.get('/dashboard/company/spinner', {
            __RequestVerificationToken: requestToken
        }, spinnerRes => GetStudents(spinnerRes, $(this).attr('data-content')));

        function GetStudents(spinnerRes, grCont) {
            $('#_company_area_card').empty();
            $('#_company_area_card').append(spinnerRes);

            $.get('dashboard/company/students', {
                groups: grCont
            }, function (studRes) {
                $('#_company_area_card').empty();
                $('#_company_area_card').append(studRes);
            });
        }
    });
</script>

<script>
    /*Company new scrypts*/

    $(document).on('changed.bs.select touchstart', '#_groups_fastening', function () {
        var requestToken = $('input[name="__RequestVerificationToken"]').val();

        if ($("div[class=filter-option-inner-inner]").text() === "Ничего не выбрано") $("#_create_company_btn").prop('disabled', true)
        else $("#_create_company_btn").prop('disabled', false)

        var pinnedGroups = Array.from(this.selectedOptions).map(({ value }) => value);
        var pGroups = JSON.stringify(pinnedGroups.map(x => Number.parseInt(x, 10)));

        $.get('/dashboard/company/spinner', {
            __RequestVerificationToken: requestToken
        }, spinnerRes => UpdatePinnedStudent(spinnerRes, pGroups));

        function UpdatePinnedStudent(spinnerRes, grps) {
            $('#_table_pinnedstudents').empty();
            $('#_table_pinnedstudents').append(spinnerRes);

            $.get('/dashboard/company/pinnedstudents', {
                __RequestVerificationToken: requestToken,
                groups: grps
            }, function (result) {
                $('#_table_pinnedstudents').empty();
                $('#_table_pinnedstudents').append(result);
            });
        }
    });

    /*Company update scripts*/

    $(document).on('click touchstart', '.corp-usr-submit', function () {
        var requestToken = $('input[name="__RequestVerificationToken"]').val();
        console.log('updated student --> '.concat($(this).val()));
        $.post('/dashboard/company/updatecorpuser', {
            __RequestVerificationToken: requestToken,
            dataCont: $(this).val(),
            lvl: $($(this).val()).val()
        }, function (res) {
            console.log(res);
        });
    });
</script>