﻿@page "{handler?}"
@model GroupModel
@inject IAntiforgery _antiforgery
@inject OnlineClass.Server.IAppState _appState
@using static OCSolution.Business.Utils.CardAreaState
@using static OCSolution.Business.Utils.StringConstant
@{
    ViewData["Title"] = "Group";
    ViewData["Theme"] = "_stateService";

    var afToken = _antiforgery.GetAndStoreTokens(HttpContext).RequestToken;

    var areaState = _appState.GroupAreaState;
    var currentGroup = _appState.SelectedGroup;
}
<input name="__RequestVerificationToken" type="hidden" value="@afToken" />

<div class="c-wrapper">
    <header class="c-header c-header-light c-header-fixed">
        <partial name="_Partial_Sidebar_HeaderLogo" />
        <partial name="_Button_ThemeSwitcher" />
        <partial name="_Component_HeaderLineMain_BudgeArea" />

        <script>
            $(document).on('change touchstart', '#_change_group_combo', function () {
                var requestToken = $('input[name="__RequestVerificationToken"]').val();

                $.get('/dashboard/group/spinner', {
                    __RequestVerificationToken: requestToken
                }, spinnerRes => ChangeSelectItem(spinnerRes, $(this).children("option:selected").val()));

                function ChangeSelectItem(spinnerRes, item) {
                    $('#_group_area_card').empty();
                    $('#_group_area_card').append(spinnerRes);

                    $.post('/dashboard/group/changegroupselectitem', {
                        groupId: item,
                        __RequestVerificationToken: requestToken
                    }, selReses => UpdateAreaCard(selReses, item));
                }

                function UpdateAreaCard(selReses, item) {
                    console.log("group select changed");
                    $('#_subheaderline').empty();
                    $('#_subheaderline').append(selReses);

                    $.post('/dashboard/group/updateareacard', {
                        groupId: item,
                        __RequestVerificationToken: requestToken
                    }, function (res2) {
                        console.log("group areacard updated");
                        $('#_group_area_card').empty();
                        $('#_group_area_card').append(res2);
                    });
                }
            });
        </script>

        <div class="c-subheader justify-content-between px-3"
             id="_subheaderline">
            <partial name="_Component_SubHeaderLine_Group" />
        </div>
    </header>
    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                @if (TempData[CORPLESSON_UPDATE_ALERT] != null)
                {
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <partial name="_Component_Notification_UpdateLesson"
                                     model="TempData[CORPLESSON_UPDATE_ALERT]" />
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-12"
                         id="_group_area_card">
                        @if (areaState == GROUP_LESSONS)
                        {
                            <partial name="_Partial_Lessons_Card"
                                     model="1" />
                        }
                        @if (areaState == GROUP_SCHEDULER)
                        {
                            <partial name="_Partial_ClassCalendar_Card" />
                        }
                        @if (areaState == GROUP_STATS)
                        {
                            <partial name="_Partial_Group_Card"
                                     model="null" />
                        }
                        @if (areaState == GROUP_STUDENTS)
                        {
                            <partial name="_Partial_GroupStudents_Card"
                                     model="@(currentGroup.ToString(), 1)" />
                        }
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="modal fade"
     id="_modal_lesson_info"
     aria-hidden="true"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog modal-success modal-xl"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Данные урока</h5>
                <button data-dismiss="modal"
                        aria-label="Close"
                        class="close"
                        type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"
                 id="_lesson_modal_body">
                @*here rendered modal body*@
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-dismiss="modal"
                        type="button">
                    Закрыть
                </button>
                <button class="btn btn-success"
                        id="_btn_submit_corplesson"
                        type="button">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function goToCompany() {
        location.href = '/dashboard/company'
    }

    $(document).on('click touchstart', '#_lessons_list', function () {
        var requestToken = $('input[name="__RequestVerificationToken"]').val();

        $.get('/dashboard/group/spinner', {
            __RequestVerificationToken: requestToken
        }, spinnerRes => GetLessons(spinnerRes));

        function GetLessons(spinnerRes) {
            $('#_group_area_card').empty();
            $('#_group_area_card').append(spinnerRes);

            $.get('dashboard/group/lessons', function (res) {
                $('#_group_area_card').empty();
                $('#_group_area_card').append(res);
            });
        }
    });

    $(document).on('click touchstart', '#_class_calendar', function () {
        var requestToken = $('input[name="__RequestVerificationToken"]').val();

        $.get('/dashboard/group/spinner', {
            __RequestVerificationToken: requestToken
        }, spinnerRes => GetScheduler(spinnerRes));

        function GetScheduler(spinnerRes) {
            $('#_group_area_card').empty();
            $('#_group_area_card').append(spinnerRes);

            $.get('dashboard/group/classcalendar', function (res) {
                $('#_group_area_card').empty();
                $('#_group_area_card').append(res);
            });
        }

    });

    $(document).on('click touchstart', '#_group_card', function () {
        $.get('dashboard/group/card', function (res) {
            $('#_group_area_card').empty();
            $('#_group_area_card').append(res);
        });
    });

    $(document).on('click touchstart', '#_group_students', function () {
        var requestToken = $('input[name="__RequestVerificationToken"]').val();

        $.get('/dashboard/group/spinner', {
            __RequestVerificationToken: requestToken
        }, spinnerRes => GetStudents(spinnerRes, $(this).attr('data-content')));

        function GetStudents(spinnerRes, grCont) {
            $('#_group_area_card').empty();
            $('#_group_area_card').append(spinnerRes);

            $.get('dashboard/group/students', {
                group: grCont
            }, function (studRes) {
                $('#_group_area_card').empty();
                $('#_group_area_card').append(studRes);
            });
        }
    });

    $(document).on('click touchstart', '.my-btn-lesson-view', function () {
        var requestToken = $('input[name="__RequestVerificationToken"]').val();

        $.get('/dashboard/group/spinner', {
            __RequestVerificationToken: requestToken
        }, spinnerRes => GetCurrentLesson(spinnerRes, $(this).attr('data-content')));

        function GetCurrentLesson(spinnerRes, data) {
            $('#_lesson_modal_body').empty();
            $('#_lesson_modal_body').append(spinnerRes);

            $.get('dashboard/group/lessonview', {
                btnData: data
            }, function (res) {
                $('#_lesson_modal_body').empty();
                $('#_lesson_modal_body').append(res);
            });
        }
    });

    $(document).on('click touchstart', '#_btn_submit_corplesson', function () {
        console.log("btn submitted");
        var requestToken = $('input[name="__RequestVerificationToken"]').val();
        $.post('/dashboard/group/updatecorplesson', {
            id: $('input[name="id"]').val(),
            hasProblem: $('input[name="hasProblem"]').is(':checked'),
            note: $('input[name="note"]').val(),
            __RequestVerificationToken: requestToken,
        }, function (res) {
            location.href = '/dashboard/group'
        });
    });

    //scheduler select handlers

    $(document).on('change touchstart', '#_scheduler_month_select', function () {
        console.log("Scheduler Month Changed");
        var requestToken = $('input[name="__RequestVerificationToken"]').val();

        $.get('/dashboard/group/spinner', {
            __RequestVerificationToken: requestToken
        }, spinnerRes => GetCustomScheduler(spinnerRes));

        function GetCustomScheduler(spinnerRes) {
            $('#_scheduler_table').empty();
            $('#_scheduler_table').append(spinnerRes);

            $.get('dashboard/group/customclasscalendar', {
                month: $('#_scheduler_month_select').val(),
                year: $('#_scheduler_year_select').val()
            }, function (res) {
                $('#_scheduler_table').empty();
                $('#_scheduler_table').append(res);
            });
        }
    });

    $(document).on('change touchstart', '#_scheduler_year_select', function () {
        console.log("Scheduler Year Changed");
        var requestToken = $('input[name="__RequestVerificationToken"]').val();

        $.get('/dashboard/group/spinner', {
            __RequestVerificationToken: requestToken
        }, spinnerRes => GetCustomScheduler(spinnerRes));

        function GetCustomScheduler(spinnerRes) {
            $('#_scheduler_table').empty();
            $('#_scheduler_table').append(spinnerRes);

            $.get('dashboard/group/customclasscalendar', {
                month: $('#_scheduler_month_select').val(),
                year: $('#_scheduler_year_select').val()
            }, function (res) {
                $('#_scheduler_table').empty();
                $('#_scheduler_table').append(res);
            });
        }
    });

</script>