﻿@page "{handler?}"
@model IndexModel
@inject IAntiforgery _antiforgery
@{
    ViewData["Title"] = "AdminPanel";
    ViewData["Theme"] = "_stateService";

    var afToken = _antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}
<input name="__RequestVerificationToken" type="hidden" value="@afToken">

@*<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show"
     id="sidebar">
    <partial name="_Partial_Sidebar_HeaderLogo" />
    <ul class="c-sidebar-nav"
        id="_sidebar_nav">
        <partial name="_Component_Sidebar_Items" />
    </ul>
    <partial name="_Button_LeftSidebarMinimizer" />
</div>*@

<div class="c-wrapper">
    <header class="c-header c-header-light c-header-fixed">
        @*<partial name="_Button_BurgerMenuForLeftSidebar" />*@
        <partial name="_Partial_Sidebar_HeaderLogo" />
        @*<partial name="_Button_ThemeSwitcher" />*@
        <partial name="_Component_HeaderLineMain_BudgeArea" />
        <div class="c-subheader justify-content-between px-3"
             id="_subheaderline">
            <partial name="_Component_SubHeaderLine" />
        </div>
    </header>
    <div class="c-body">
        <main class="c-main"
              id="_main_area">
            @*<partial name="_Partial_Settings_MainView" />*@
        </main>
    </div>
</div>