﻿@page "{handler?}"
@model StudentModel
@inject IAntiforgery _antiforgery
@{
    ViewData["Title"] = "Student";
    ViewData["Theme"] = "_stateService";

    var afToken = _antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}
<input name="__RequestVerificationToken" type="hidden" value="@afToken" />

<div class="c-wrapper">
    <header class="c-header c-header-light c-header-fixed">
        <partial name="_Partial_Sidebar_HeaderLogo" />
        <partial name="_Button_ThemeSwitcher" />
        <partial name="_Component_HeaderLineMain_BudgeArea" />

        <script>
            $(document).on('change touchstart', '#_change_student_combo', function () {
                var requestToken = $('input[name="__RequestVerificationToken"]').val();

                $.get('/dashboard/student/spinner', {
                    __RequestVerificationToken: requestToken
                }, spinnerRes => ChangeSelectItem(spinnerRes, $(this).children("option:selected").val(), $(this).children("option:selected").data('target')));

                function ChangeSelectItem(spinnerRes, item, target) {
                    $('#_student_area_card').empty();
                    $('#_student_area_card').append(spinnerRes);

                    $.post('/dashboard/student/changestudentselectitem', {
                        userId: item,
                        targetId: target,
                        __RequestVerificationToken: requestToken
                    }, selReses => UpdateAreaCard(selReses, null));
                }

                function UpdateAreaCard(selReses, datePicker) {
                    console.log("student select changed");
                    $('#_subheaderline_student').empty();
                    $('#_subheaderline_student').append(selReses);

                    $.post('/dashboard/student/updatestudentareacard', {
                        date: datePicker,
                        __RequestVerificationToken: requestToken
                    }, function (res2) {
                        console.log("student areacard updated");
                        $('#_student_area_card').empty();
                        $('#_student_area_card').append(res2);
                    });
                }
            });
        </script>

        <div class="c-subheader justify-content-between px-3"
             id="_subheaderline_student">
            <partial name="_Component_SubHeaderLine_Student" />
        </div>
    </header>
    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12"
                         id="_student_area_card">
                        <partial name="_Partial_Student_Card"
                                 model="null"/>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="modal fade"
     id="_modal_change_student_level"
     aria-hidden="true"
     tabindex="-1"
     role="dialog">
     <partial name="_Component_Modal_ChangeStudentLevel" />
</div>
<div class="modal fade"
     id="_modal_add_test_result"
     aria-hidden="true"
     tabindex="-1"
     role="dialog">
    <partial name="_Component_Modal_AddTestResult" />
</div>

<script>
    function goToPrevStudentPage() {
        location.href = $('input[name="_prev_state_data"]').val();
    }
</script>