﻿@inject OCSolution.Business.IServGroups _servGroups
@inject OnlineClass.Server.IAppSession _appSession
@inject OnlineClass.Server.IAppState _appState
@{
    var headerLine = _appSession.AppUser.Type == OCSolution.Persistance.Enums.IdentityType.Teacher ?
        await _servGroups.GetTeacherHeaderLineAsync(_appSession.AppUser.Type, _appSession.AppUser.DbUserId, _appState.SelectedGroup) :
        await _servGroups.GetHeaderLineAsync(_appSession.AppUser.Type, _appState.SelectedCompany, _appState.SelectedGroup);
}

<div class="c-subheader-nav d-md-down-none mfe-2">
    <div class="c-subheader-nav d-md-down-none mfe-2"
         style="width:350px; margin-left:20px;">
        @if (_appSession.AppUser.Type != OCSolution.Persistance.Enums.IdentityType.Teacher)
        {
            <span class="c-subheader-nav-link my-add-bot-btn"
                  title="Назад к компании"
                  onclick="goToCompany()"
                  id="_back_to_company">
                <svg class="c-icon"
                     title="_">
                    <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-arrow-thick-from-right"></use>
                </svg>
            </span>
        }
        <select class="form-control form-control-sm"
                id="_change_group_combo">
            @foreach (var item in headerLine.Selects)
            {
                <option value="@item.ItemId"
                        @(item.IsSelected ? "selected" : null)>
                    @item.ItemName
                </option>
            }
        </select>
    </div>
    <div class="c-subheader-nav d-md-down-none mfe-2 ml-2">
        <span class="c-subheader-nav-link my-add-bot-btn"
              title="Список уроков"
              id="_lessons_list">
            <svg class="c-icon"
                 title="_">
                <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-list"></use>
            </svg>
        </span>
    </div>
    <div class="c-subheader-nav d-md-down-none mfe-2">
        <span class="c-subheader-nav-link my-add-bot-btn"
              title="Календарь занятий"
              id="_class_calendar">
            <svg class="c-icon"
                 title="_">
                <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-calendar-check"></use>
            </svg>
        </span>
    </div>
    <div class="c-subheader-nav d-md-down-none mfe-2">
        <span class="c-subheader-nav-link my-add-bot-btn"
              title="Статистика группы"
              id="_group_card">
            <svg class="c-icon"
                 title="_">
                <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-chart-pie"></use>
            </svg>
        </span>
    </div>
</div>
<div class="c-subheader-nav d-md-down-none mfe-2 btn-group btn-group-sm">
    <button class="c-subheader-nav-link btn btn-outline-success"
            data-content="@headerLine.StudsBtnData.Item1"
            title="Интерфейс 'Студенты'"
            id="_group_students">
        Студентов: @headerLine.StudsBtnData.Item2
    </button>
</div>
