﻿@using static OCSolution.Business.Utils.StudentPageState
@inject OCSolution.Business.IServCorpStudents _servStudents
@inject OCSolution.Business.IServCompany _servCompany
@inject OnlineClass.Server.IAppSession _appSession
@inject OnlineClass.Server.IAppState _appState
@{
    var company = _appSession.AppUser.Type == OCSolution.Persistance.Enums.IdentityType.Teacher ? null :
                    await _servCompany.GetSelectedCompanyAsync(_appState.SelectedCompany);

    var headerLine = _appState.StudentPageState switch
    {
        COMPANY_STUDENT_PAGE => await _servStudents.GetCompanyStudentPageHeaderlineAsync(
                                        _appSession.AppUser.Type, company.PinnedGroups, _appState.SelectedStudent),
        GROUP_STUDENT_PAGE   => await _servStudents.GetGroupStudentPageHeaderlineAsync(
                                        _appSession.AppUser.Type, _appState.SelectedGroup, _appState.SelectedStudent),
                           _ => await _servStudents.GetTeacherStudentPageHeaderlineAsync(
                                        _appSession.AppUser.Type, _appSession.AppUser.DbUserId, _appState.SelectedStudent)
    };
}
<input name="_prev_state_data"
       value="@headerLine.PrevStateLink"
       type="hidden"/>

<div class="c-subheader-nav d-md-down-none mfe-2">
    <div class="c-subheader-nav d-md-down-none mfe-2"
         style="width:200px; margin-left:20px;">
        <span class="c-subheader-nav-link my-add-bot-btn"
              title="Назад к группе"
              onclick="goToPrevStudentPage()"
              id="_back_to_group">
            <svg class="c-icon"
                 title="_">
                <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-arrow-thick-from-right"></use>
            </svg>
        </span>
        <select class="form-control form-control-sm"
                id="_change_student_combo">
            @foreach (var item in headerLine.Selects)
            {
                <option value="@item.ItemId"
                        data-target="@item.TargetId"
                        @(item.IsSelected ? "selected" : null)>
                    @item.ItemName
                </option>
            }
        </select>
    </div>
    <div class="c-subheader-nav d-md-down-none mfe-2 ml-2">
        <span class="c-subheader-nav-link my-add-bot-btn"
              data-target="#_modal_change_student_level"
              title="Изменение уровня"
              data-toggle="modal">
            <svg class="c-icon"
                 title="_">
                <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-color-border"></use>
            </svg>
        </span>
    </div>
    <div class="c-subheader-nav d-md-down-none mfe-2">
        <span class="c-subheader-nav-link my-add-bot-btn"
              data-target="#_modal_add_test_result"
              title="Добавить результат теста"
              data-toggle="modal">
            <svg class="c-icon"
                 title="_">
                <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-task"></use>
            </svg>
        </span>
    </div>
</div>
<div class="c-subheader-nav d-md-down-none mfe-2">
</div>
