﻿@inject OCSolution.Business.IServCompany _servCompany
@inject OnlineClass.Server.IAppSession _appSession
@inject OnlineClass.Server.IAppState _appState
@{
    var headerLine = await _servCompany
        .GetCompanyHeaderLineAsync(_appSession
        .AppUser.Type, _appState.SelectedCompany);
}

<div class="c-subheader-nav d-md-down-none mfe-2">
    <div class="c-subheader-nav d-md-down-none mfe-2"
         style="width:300px">
        @if (headerLine.Selects == null || headerLine.Selects.Count == 0)
        {
            <select class="form-control form-control-sm"
                    id="_change_company_combo">
                <option>  -- Компании отсутствуют --  </option>
            </select>
        }
        else
        {
            <select class="form-control form-control-sm"
                    id="_change_company_combo"
                    @headerLine.DisabledSelect>
                @foreach (var item in headerLine.Selects)
                {
                    <option value="@item.ItemId"
                            @(item.IsSelected ? "selected" : null)>
                        @item.ItemName
                    </option>
                }
            </select>
        }
    </div>
    @if (_appSession.AppUser.Type == OCSolution.Persistance.Enums.IdentityType.Admin)
    {
        <div class="c-subheader-nav d-md-down-none mfe-2 ml-2">
            <span class="c-subheader-nav-link my-add-bot-btn"
                  title="Создать компанию"
                  id="_add_company">
                <svg class="c-icon"
                     title="_">
                    <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-playlist-add"></use>
                </svg>
            </span>
        </div>
    }
    <div class="c-subheader-nav d-md-down-none mfe-2">
        <span class="c-subheader-nav-link my-add-bot-btn"
              title="Редактировать компанию"
              id="_edit_company">
            <svg class="c-icon"
                 title="_">
                <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-pencil"></use>
            </svg>
        </span>
    </div>
    <div class="c-subheader-nav d-md-down-none mfe-2">
        <span class="c-subheader-nav-link my-add-bot-btn"
              title="Статистика компании"
              id="_company_card">
            <svg class="c-icon"
                 title="_">
                <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-chart-pie"></use>
            </svg>
        </span>
    </div>
</div>
<div class="c-subheader-nav d-md-down-none mfe-2 btn-group btn-group-sm">
    <button class="c-subheader-nav-link btn btn-outline-success"
            data-content="@headerLine.GroupBtnData.Item1"
            title="Интерфейс 'Группы'"
            id="_company_groups">
        Групп: @headerLine.GroupBtnData.Item2
    </button>
    <button class="c-subheader-nav-link btn btn-outline-success"
            data-content="@headerLine.StudsBtnData.Item1"
            title="Интерфейс 'Студенты'"
            id="_company_students">
        Студентов: @headerLine.StudsBtnData.Item2
    </button>
</div>
