﻿<div class="@*c-sidebar-brand*@ d-md-down-none"
     style="padding-left: 25px">
    <a class="my-header-link"
       title="Главная Online Class"
       href="/dashboard">
        <h4 style="position: relative; top: 15px">CORPORATE DASHBOARD (Online Class)</h4>
    </a>
</div>
