﻿@model (int, int)
@using System.Globalization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject OCSolution.Business.IServGroups _servGroups
@{
    var paginator = await _servGroups.GetGroupLessonsPaageAsync(Model.Item1, Model.Item2);
}

<table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
        <tr>
            <th class="text-center">Название урока</th>
            <th class="text-center">Учитель</th>
            <th class="text-center">Дата начала</th>
            <th class="text-center">Дата конца</th>
            <th class="text-center">Активен</th>
            <th class="text-center">Информация</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lesson in paginator.List)
        {
            var    teacher = await lesson?.Teacher;
            string btnData = $"{Model.Item1},{lesson?.LessonId},{teacher.Item1}";

            <tr>
                <td class="text-center">@_servGroups.GetGroupLessonsTitleAsync(lesson.LessonId).Result</td>
                <td class="text-center">@teacher.Item2</td>
                <td class="text-center">@lesson?.StartDate.ToString("dd/MM/yyyy HH:mm", CultureInfo.InvariantCulture)</td>
                <td class="text-center">@lesson?.EndDate.ToString("dd/MM/yyyy HH:mm", CultureInfo.InvariantCulture)</td>
                <td class="text-center">@lesson?.IsActive</td>
                <td class="text-center">
                    <button class="btn btn-sm btn-success my-btn-lesson-view"
                            data-content="@btnData"
                            data-target="#_modal_lesson_info"
                            data-toggle="modal">
                        Просмотр
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (paginator != null && paginator.PageCount > 1)
{
    <nav style="margin:15px 0 0 0"
         aria-label="Corp Students Navigated Page"
         id="_students_paginator">
        <partial name="_Paginator_CorpStudents"
                 model="paginator" />
    </nav>
}