﻿@model (string, int)
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="card my-card fade-in">
    <div class="card-header">
        Студенты группы
    </div>
    <div class="card-body"
         id="_group_students_cardbody">
        <partial name="_Partial_GroupStudents_CardBody"
                 model="@Model" />
    </div>
</div>

<script>
    $(document).on('click touchstart', '.my-pg-btn', function () {

        $.post('/dashboard/group/pagebtnclick', {
            group: $('#_group_students').attr('data-content'),
             page: $(this).attr('data-content'),
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
        }, function (res) {
                $('#_group_students_cardbody').empty();
                $('#_group_students_cardbody').append(res);
        });
    });

    $(document).on('click touchstart', '.my-btn-go-to-student-page', function () {
        $.post('/dashboard/group/gotostudentpage', {
            userId: $(this).attr('data-content'),
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
        }, function (res) {
            console.log('redirected to student page' + res);
            location.href = res;
        });
    });
</script>