﻿@model OCSolution.Business.Models.DTO.DtoCompanyCorpStudent
@inject OCSolution.Business.IServCorpStudents _servStudents
@{
    var absent = await _servStudents.GetStudentAbsentsAsync(Model.UserId);

    int progrValue = absent.Item1 == 0 ? 0 : (int)(((decimal)absent.Item2 / (decimal)absent.Item1) * 100);
}
@*<div class="progress">
    <div class="progress-bar bg-danger"
         style="width:@string.Format("{0}%", progrValue)"
         aria-valuenow="@progrValue"
         aria-valuemin="0"
         aria-valuemax="100"
         role="progressbar">
    </div>
    <div class="my-inline-absent">@absent.Item2</div>
</div>*@
<div class="progress">
    <div class="progress-bar bg-danger"
         style="width:@string.Format("{0}%", progrValue)"
         aria-valuenow="@progrValue"
         aria-valuemin="0"
         aria-valuemax="100"
         role="progressbar">
        @if (absent.Item2 != 0)
        {
            @string.Format("{0}", absent.Item2)
        }
    </div>
    @if (absent.Item2 == 0)
    {
        <div class="my-inline-absent">@absent.Item2</div>
    }
</div>