﻿@model OCSolution.Business.Models.DTO.DtoPaginatorCorpStudents
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject OCSolution.Persistance.IRepoGroupTranlations _repoGrTranlate
@inject OCSolution.Business.IServCorpStudents _servStudents
@inject OnlineClass.Server.IAppState _appState

@foreach (var student in Model?.List)
{
    <tr>
        <td class="text-center">
            @(student == null ? "не установлен" : await _repoGrTranlate.GetGroupNameByIdAsync(student.GroupNumber_id))
        </td>
        <td class="text-center">
            @_servStudents.GetStudentFullNameAsync(student.UserId).Result
        </td>
        <td>
            <partial name="_Partial_StudentAttendanceProgres"
                     model="@student" />
        </td>
        <td>
            <partial name="_Partial_StudentEffectivivty"
                     model="@student" />
        </td>
        @{
            var lvls = await _servStudents.GetStudentsLvlsAsync(student.UserId);

            <td class="text-center">@(lvls.Item1 != null ? lvls.Item1 : "не установлен")</td>
            <td class="text-center">@(lvls.Item2 != null ? lvls.Item2 : "не установлен")</td>
        }
        <td class="text-center">@await _servStudents.GetStudentCompletedLessonsAsync(student.UserId)</td>
        <td>
            <partial name="_Partial_StudentAbsents"
                     model="@student" />
        </td>
        @*<td class="text-center"><a href="/dashboard/sceduler/student">Открыть</a></td>*@
        <td class="text-center">
            <button class="btn btn-block btn-link my-btn-go-to-student-page"
                    data-target="@student.GroupNumber_id"
                    data-content="@student.UserId">
                Открыть
            </button>
        </td>
    </tr>
}