﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<partial name="_Partial_Avatar" />

<div class="dropdown-menu dropdown-menu-right pt-2">
    <form asp-page-handler="Logout"
          id="_logout_form"
          method="post">
        <a class="dropdown-item my-point-link"
           id="_user_logout_btn">
            <svg class="c-icon mfe-2">
                <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-account-logout"></use>
            </svg> Выход
        </a>
    </form>
    @*<a class="dropdown-item my-point-link"
       id="_user_settings_btn">
        <svg class="c-icon mfe-2">
            <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-settings"></use>
        </svg> Настройки
    </a>*@
</div>
<script>
    $(document).on('click touchstart', '#_user_logout_btn', function () {
        var requestToken = $('input[name="__RequestVerificationToken"]').val();
        $.post('/dashboard/logout', {
            __RequestVerificationToken: requestToken,
        }, function (res) {
            location.href = '/identity/login'
        });
    });
</script>
