﻿@model (int, int, int)
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject OCSolution.Business.IServGroups _servGroups
@{
    var corpLesson   = await _servGroups.CheckAndGetCorpLessonAsync(Model.Item1, Model.Item2, Model.Item3);

    bool   isActive  = DateTime.Now <= corpLesson.FinishedAt;
    string isChecked = corpLesson.HasProblem ? "checked" : null;
}

<div class="form-group row">
    <div class="col-md-3">
        <span class="help-block">
            Статус занятия:
        </span>
        <span class="help-block pl-4">
            @(isActive ? "Новое" : "Прошло")
        </span>
    </div>
        <input value="@Model.Item2"
               type="hidden"
               name="id"/>
        <div class="col-md-3 form-check checkbox">
            <span class="help-block mr-5">
                Проблемы на занятии:
            </span>
            <input class="form-check-input"
                   @*@(isActive ? null : "disabled")*@
                   name="hasProblem"
                   type="checkbox"
                   @isChecked />
        </div>
        <div class="col-sm-6">
            <input class="form-control form-control-sm"
                   @*@(isActive ? null : "disabled")*@
                   value="@corpLesson.Note"
                   placeholder="Заметка о занятии"
                   name="note"
                   type="text" />
        </div>
</div>
<div class="row bg-light mb-3 pt-1 pb-1">
    <div class="col-sm-2">
        ФИО
    </div>
    <div class="col-sm-2 text-center">
        Присутствие
    </div>
    <div class="col-sm-4">
        Домашнее задание
    </div>
    <div class="col-sm-2 text-center">
        Тек. уровень
    </div>
    <div class="col-sm-2 text-center">
        Результат теста
    </div>
</div>
<div class="accordion my-overflow-3"
     role="tablist"
     id="accordion">
    <partial name="_Partial_LessonsStudents"
             model="@(Model.Item1, Model.Item2, Model.Item3, isActive, corpLesson.FinishedAt)" />
</div>

<script>
    $(document).on('change touchstart', '.my-corp-attendance', function () {
        var checkbox = $(this);
        if (checkbox.is(':checked')) $.post('/dashboard/group/changestudentattendance', {
            dataId: checkbox.attr('data-content'),
            attendance: true,
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
        }, function (res) {
            console.log('attendance changeg: '.concat(res));
        });
        else $.post('/dashboard/group/changestudentattendance', {
            dataId: checkbox.attr('data-content'),
            attendance: false,
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
        }, function (res) {
            console.log('attendance changeg: '.concat(res));
        });
    });

    $(document).on('change touchstart', '.my-corp-homework', function () {
        $.post('/dashboard/group/changestudenthomework', {
            dataId: $(this).attr('data-content'),
            homeWork: $(this).children("option:selected").val(),
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
        }, function (res) {
            console.log('home_work changeg: '.concat(res));
        });
    });

    $(document).on('click touchstart', '.my-testresult-btn-sbmt', function () {
        var dataContent = $(this).attr('data-content');
        console.log($('#_type,'.concat(dataContent)).val());
        console.log($('#_result,'.concat(dataContent)).val());
        $.post('/dashboard/group/updatetestresult', {
            btnContent: dataContent,
            testType: $('select[name="_type,'.concat(dataContent).concat('"]')).children("option:selected").val(),
            testResult: $('input[name="_result,'.concat(dataContent).concat('"]')).val(),
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
        }, function (res) {
            console.log('test_result changeg: '.concat(res));
        });
    });
</script>