﻿@model OCSolution.Business.Models.DTO.DtoCompanyCorpStudent
@inject OCSolution.Business.IServCorpStudents _servStudents
@{ 
    var attendance = (int)(await _servStudents.GetStudentAttendanceAsync(Model.UserId));
}

<div class="progress">
    <div class="progress-bar bg-warning"
         style="width:@string.Format("{0}%", attendance)"
         aria-valuenow="@attendance"
         aria-valuemin="0"
         aria-valuemax="100"
         role="progressbar">
        @if (attendance != 0)
        {
            @string.Format("{0}%", attendance)
        }
    </div>
    @if (attendance == 0)
    {
        <div class="my-inline-absent">@attendance %</div>
    }
</div>