﻿@model (string, int)
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using static OCSolution.Business.Extensions.StringExtensions
@inject OCSolution.Business.IServGroups _servGroups
@{
    OCSolution.Business.Models.DTO.DtoPaginatorCompanyGroups paginator = null;
}

<table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
        <tr>
            <th class="text-center">Группа</th>
            <th class="text-center">Учитель</th>
            <th class="text-center">График</th>
            @*<th class="text-center">Последний урок</th>*@
            <th class="text-center">Информация</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Item1 == null || Model.Item1 == "0")
        {
            <tr>
                <td>нет данных для отображения</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        else
        {
            paginator = await _servGroups.GetCompanyGroupsPageAsync(Model.Item1.ToIdList(), Model.Item2);

            <partial name="_Partial_PaginatedGroupPage"
                     model="paginator" />
        }
    </tbody>
</table>
@if (paginator != null && paginator.PageCount > 1)
{
    <nav style="margin:15px 0 0 0"
         aria-label="Corp Students Navigated Page"
         id="_students_paginator">
        <partial name="_Paginator_CorpStudents"
                 model="paginator" />
    </nav>
}