﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject OCSolution.Persistance.IRepoGroupTranlations _repoGrTranl
@{
    var groups = await _repoGrTranl.GetAllGroupsAsync();
}

<div class="card my-card fade-in">
    <div class="card-header">
        Создание компании
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <form class="form-horizontal"
                      asp-page-handler="CreateNew"
                      method="post">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <span class="help-block small">Название компании</span>
                            <input class="form-control reqv-f"
                                   name="CompanyName"
                                   type="text"
                                   required/>
                        </div>
                        <div class="col-sm-6">
                            <span class="help-block small">Старт обучения</span>
                            <input class="form-control reqv-f"
                                   name="daterange"
                                   type="text" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <span class="help-block small">Логин HR</span>
                            <input class="form-control reqv-f"
                                   name="Login"
                                   type="text"
                                   required/>
                        </div>
                        <div class="col-sm-6">
                            <span class="help-block small">Пароль HR</span>
                            <input class="form-control reqv-f"
                                   name="Password"
                                   type="text"
                                   required/>
                        </div>
                    </div>
                    <div class="row">
                        <span class="help-block small ml-3">Крепление групп</span>
                        <div class="form-group col-sm-12 mt-1">
                            <select class="form-control"
                                    name="PinnedGroups"
                                    id="_groups_fastening"
                                    multiple>
                                @foreach (var gr in groups)
                                {
                                    <option title="@gr.Name" value="@gr.GroupId">@gr.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-success mt-5"
                            id="_create_company_btn"
                            type="submit"
                            disabled>
                        создать компанию
                    </button>
                </form>
            </div>
            <div class="col-sm-6 my-overflow-1"
                 id="_table_pinnedstudents">
                <partial name="_Partial_EmptyPinnedTable" />
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            maxYear: parseInt(moment().format('YYYY'), 10),
            applyButtonClasses: 'btn btn-sm btn-success',
            cancelButtonClasses: 'btn btn-sm btn-light',
            singleDatePicker: true,
            minYear: 2021,
            opens: 'left',
            locale: {
                format: 'DD/MM/YYYY',
                applyLabel: 'Готово',
                cancelLabel: 'Отмена',
                daysOfWeek: [
                    'Вс',
                    'Пн',
                    'Вт',
                    'Ср',
                    'Чт',
                    'Пт',
                    'Сб'
                ],
                monthNames: [
                    'Январь',
                    'Февраль',
                    'Март',
                    'Апрель',
                    'Май',
                    'Июнь',
                    'Июль',
                    'Август',
                    'Сентябрь',
                    'Октябрь',
                    'Ноябрь',
                    'Декабрь'
                ]
            }
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });

    $('#_groups_fastening').selectpicker({
        noneSelectedText: 'Ничего не выбрано',
        size: 7
    });
</script>