﻿@model int?
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using static OCSolution.Business.Extensions.StringExtensions
@using static OCSolution.Business.Utils.StringConstant
@using System.Globalization
@inject OCSolution.Persistance.IRepoGroupTranlations _repoGrTranl
@inject OCSolution.Business.IServCompany _servCompany
@inject OnlineClass.Server.IAppSession _apSession
@{
    var company = await _servCompany.GetSelectedCompanyAsync(Model);
    var hrCreds = await _servCompany.GetHrCreds(company.HrId);
    var groups  = await _repoGrTranl.GetAllGroupsAsync();

    string disabled = _apSession.AppUser.Type == OCSolution.Persistance.Enums.IdentityType.HR ? "disabled" : string.Empty;
}

<div class="card my-card fade-in">
    <div class="card-header">
        Редактирование компании
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <form class="form-horizontal"
                      asp-page-handler="Update">
                    <input name="Id"
                           value="@company.Id"
                           type="hidden" />
                    <input name="HrId"
                           value="@company.HrId"
                           type="hidden" />
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <span class="help-block small">Название компании</span>
                            <input class="form-control"
                                   name="CompanyName"
                                   value="@company.Name"
                                   type="text"
                                   required/>
                        </div>
                        <div class="col-sm-6">
                            <span class="help-block small">Старт обучения</span>
                            <input class="form-control"
                                   value="@company.LearningStart.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)"
                                   name="daterange"
                                   type="text"
                                   required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <span class="help-block small">Логин HR</span>
                            <input class="form-control"
                                   name="Login"
                                   value="@hrCreds.Item1"
                                   type="text"
                                   @disabled
                                   required/>
                        </div>
                        <div class="col-sm-6">
                            <span class="help-block small">Пароль HR</span>
                            <input class="form-control"
                                   name="Password"
                                   value="@hrCreds.Item2"
                                   type="text"
                                   @disabled
                                   required/>
                        </div>
                    </div>
                    <div class="row">
                        <span class="help-block small ml-3">Прикрепленные группы</span>
                        <div class="form-group col-sm-12 mt-1">
                            <select class="form-control"
                                    name="PinnedGroups"
                                    id="_groups_fastening"
                                    multiple>
                                @foreach (var gr in groups)
                                {
                                    @if (company.PinnedGroups != null &&
                                         company.PinnedGroups != "0")
                                    {

                                        bool isSelected = company.PinnedGroups
                                            .ToIdList().Contains(gr.GroupId);

                                        <option selected="@isSelected" title="@gr.Name" value="@gr.GroupId">@gr.Name</option>
                                    }
                                    else
                                    {
                                        <option title="@gr.Name" value="@gr.GroupId">@gr.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-success"
                            id="_update_company_btn"
                            type="submit">
                        обновить компанию
                    </button>
                </form>
                @if (TempData[COMPANY_CRUD_ALERT] != null)
                {
                    <partial name="_Component_Notification"
                             model="TempData[COMPANY_CRUD_ALERT]" />
                }
            </div>
            <div class="col-sm-6 my-overflow-2"
                 id="_table_pinnedstudents">
                @if (company.PinnedGroups != null &&
                 company.PinnedGroups != "0")
                {
                    <partial name="_Partial_Table_PinnedStudents"
                             model="@company.PinnedGroups.ToIdList()" />
                }
                else
                {
                    <partial name="_Partial_EmptyPinnedTable" />
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            maxYear: parseInt(moment().format('YYYY'), 10),
            applyButtonClasses: 'btn btn-sm btn-success',
            cancelButtonClasses: 'btn btn-sm btn-light',
            singleDatePicker: true,
            minYear: 2021,
            opens: 'left',
            locale: {
                format: 'DD/MM/YYYY',
                applyLabel: 'Готово',
                cancelLabel: 'Отмена',
                daysOfWeek: [
                    'Вс',
                    'Пн',
                    'Вт',
                    'Ср',
                    'Чт',
                    'Пт',
                    'Сб'
                ],
                monthNames: [
                    'Январь',
                    'Февраль',
                    'Март',
                    'Апрель',
                    'Май',
                    'Июнь',
                    'Июль',
                    'Август',
                    'Сентябрь',
                    'Октябрь',
                    'Ноябрь',
                    'Декабрь'
                ]
            }
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });

    $('#_groups_fastening').selectpicker({
        noneSelectedText: 'Ничего не выбрано',
        size: 7
    });
</script>