﻿@model OCSolution.Business.Value.Scheduler

<div class="row">
    <div class="col-sm-12 text-center p-1 mt-3">
        <h4>@Model.Header</h4>
    </div>
</div>
<table class="table table-responsive-sm table-bordered">
    <thead>
        <tr>
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Суббота</th>
            <th>Воскресенье</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Rows)
        {
            <tr>
                @foreach (var cell in row)
                {
                    <td>
                        @if (!cell.IsEmptyCell)
                        {

                             <div class="text-right"
                                  style="height:20px">
                                     @cell.Date.Day
                             </div>

                            if (!cell.CellLesson.IsEmpty)
                            {
                                string btnData = $"{cell.CellLesson.GroupId},{cell.CellLesson.LessonId},{cell.CellLesson.TeacherId}";
                                <button class="btn btn-block btn-link my-btn-lesson-view"
                                        data-content="@btnData"
                                        data-target="#_modal_lesson_info"
                                        data-toggle="modal">
                                    @cell.CellLesson.LessonName
                                </button>
                                <div class="d-flex align-items-end">
                                    @if (cell.ContainsNewStatus)
                                    {
                                        <div class="col-sm-2 badge badge-secondary mr-1 mb-1">N</div>
                                    }
                                    @if (cell.ContainsSuccessStatus)
                                    {
                                        <div class="col-sm-2 badge badge-success mr-1 mb-1">S</div>
                                    }
                                    @if (cell.ContainsProblemStatus)
                                    {
                                        <div class="col-sm-2 badge badge-danger mr-1 mb-1">P</div>
                                    }
                                </div>
                           }
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>