﻿@model string
@inject OCSolution.Business.IServCompany _serCompany
@{ 
    string initPeriod = Model == null ? $"{DateTime.Now.AddDays(-30):dd/MM/yyyy} - {DateTime.Now:dd/MM/yyyy}" : Model;
}

<div class="card my-card fade-in">
    <div class="card-header d-flex justify-content-between px-3">
        <div>Статистика компании</div>
        <div style="margin-left: -110px">
            <div class="input-group">
                <input class="form-control form-control-sm"
                       value="@initPeriod"
                       name="daterange"
                       type="text"/>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <svg class="c-icon c-icon-sm"
                             title="период выборки">
                            <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-calendar"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <a href="javascript:(print());"
               title="на печать">
                <svg class="c-icon my-point-link ml-2">
                    <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-print"></use>
                </svg>
            </a>
        </div>
    </div>
    <div class="card-body"
         style="height:750px">
        <div class="container-fluid">
            <div class="d-flex flex-wrap">
                <div class="col-sm-5 jumbotron bg-light"
                     style="margin-top:15px"
                     id="_effectivness_cont">
                    <div class="c-chart-wrapper text-center"
                         style="margin-top:20px">
                        <h3>Эффективность</h3>
                        <div class="chartjs-size-monitor"
                             style="height:500px">
                            <canvas class="chartjs-render-monitor"
                                    id="_efectivnes_canvas_c" />
                        </div>
                        <div id="_efectivnes__rendering"></div>
                    </div>
                </div>
                <div class="col-sm-7"
                     id="_other_cont_g">
                    <div class="row">
                        <div class="col-sm-6 align-items-center">
                            <div class="c-chart-wrapper text-center">
                                <h3>Посещаемость</h3>
                                <div class="chartjs-size-monitor"
                                     style="height:300px">
                                    <canvas class="chartjs-render-monitor"
                                            id="_attendance_canvas_c" />
                                </div>
                                <div id="_attendance__rendering"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="c-chart-wrapper text-center">
                                <h3>Тесты</h3>
                                <div class="chartjs-size-monitor"
                                     style="height:300px">
                                    <canvas class="chartjs-render-monitor"
                                            id="_perfomance_canvas_c" />
                                </div>
                                <div id="_perfomance__rendering"></div>
                            </div>
                        </div>
                    </div>
                    <h3 id="_dz_title">Домашние задания</h3>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div class="c-chart-wrapper text-center"
                                 style="margin-top: 15px">
                                <h3 id="_dz_title_old">Домашние задания</h3>
                                <div class="chartjs-size-monitor"
                                     style="height:300px">
                                    <canvas class="chartjs-render-monitor"
                                            id="_homework_canvas_c" />
                                </div>
                                <div id="_homework__rendering"></div>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var requestToken = $('input[name="__RequestVerificationToken"]').val();

        $.post('/dashboard/company/attendance', {
            __RequestVerificationToken: requestToken,
            companyId: $("#_change_company_combo").children("option:selected").val(),
            date: $("input[name=daterange]").val()
        }, function (result) {
                console.log(result);
                $('#_attendance__rendering').empty();
                $('#_attendance__rendering').append(result);
        });

        $.post('/dashboard/company/perfomance', {
            __RequestVerificationToken: requestToken,
            companyId: $("#_change_company_combo").children("option:selected").val(),
            date: $("input[name=daterange]").val()
        }, function (result) {
            console.log(result);
                $('#_perfomance__rendering').empty();
                $('#_perfomance__rendering').append(result);
        });

        $.post('/dashboard/company/homeworks', {
            __RequestVerificationToken: requestToken,
            companyId: $("#_change_company_combo").children("option:selected").val(),
            date: $("input[name=daterange]").val()
        }, function (result) {
                console.log(result);
                $('#_homework__rendering').empty();
                $('#_homework__rendering').append(result);
        });

        $.post('/dashboard/company/averageefficiency', {
            __RequestVerificationToken: requestToken,
            companyId: $("#_change_company_combo").children("option:selected").val(),
            date: $("input[name=daterange]").val()
        }, function (result) {
            console.log(result);
            $('#_efectivnes__rendering').empty();
            $('#_efectivnes__rendering').append(result);
        });
    });

    $(function () {
        $('input[name="daterange"]').daterangepicker({
            applyButtonClasses: 'btn btn-sm btn-success',
            cancelButtonClasses: 'btn btn-sm btn-light',
            opens: 'left',
            locale: {
                format: 'DD/MM/YYYY',
                applyLabel: 'Готово',
                cancelLabel: 'Отмена',
                daysOfWeek: [
                    'Вс',
                    'Пн',
                    'Вт',
                    'Ср',
                    'Чт',
                    'Пт',
                    'Сб'
                ],
                monthNames: [
                    'Январь',
                    'Февраль',
                    'Март',
                    'Апрель',
                    'Май',
                    'Июнь',
                    'Июль',
                    'Август',
                    'Сентябрь',
                    'Октябрь',
                    'Ноябрь',
                    'Декабрь'
                ]
            }
        }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('DD/MM/YYYY') + ' to ' + end.format('DD/MM/YYYY'));

                $.post('/dashboard/company/changedaterange', {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                    newDaterange: (start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'))
                }, function (result) {
                    /*console.log(result);*/
                    $('#_company_area_card').empty();
                    $('#_company_area_card').append(result);
                });
        });
    });
</script>