﻿@model System.Collections.Generic.List<int>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject OCSolution.Business.IServGroups _servGroups
@{
    var students = _servGroups.GetNewCompanyPinnedStudents(Model);
}

<table class="table table-responsive-sm table-hover table-outline mb-0">
    @foreach (var student in students)
    {
        <partial name="_Partial_PinnedStudent"
                 model="@student" />
    }
</table>