﻿@model (int, int, int, bool, DateTime)
@using System.Globalization
@using OCSolution.Persistance.Enums
@inject OCSolution.Persistance.IRepoUsers _repoUsers
@inject OCSolution.Persistance.IRepoGroupStudents _repoGrStuds
@inject OCSolution.Persistance.IRepoCorpStudents _repoCorpStud
@inject OCSolution.Persistance.IRepoCorpStudentStats _corpStStats
@inject OCSolution.Persistance.IRepoTestResults _testResults
@{
    var students = await _repoGrStuds.GetGroupStudentsAsync(Model.Item1);

    foreach (var item in students)
    {
        await _corpStStats.CheckAndAddNewCorpStudentStatAsync($"{Model.Item2},{item.UserId}", Model.Item5);
    }
}

@for (int i = 0; i < students.Count; i++)
{
    string isChecked = (await _corpStStats.GetCorpStudentAttendanceAsync($"{Model.Item2}{students[i].UserId}")) ? "checked" : null;
    var isSelected = await _corpStStats.GetCorpStudentHomeworkTypeAsync($"{Model.Item2}{students[i].UserId}");

    var testResult = await _testResults.CheckAndGetCorpTestResult(Model.Item2, Model.Item3, students[i].UserId);
    var resultType = (TestType)Enum.Parse(typeof(TestType), testResult.Type, true);

    <div class="row mb-2" role="tab"
         id="@string.Format("_heading_{0}", i)">
        <div class="col-sm-3">
            @await _repoUsers.GetUserFIOAsync(students[i].UserId)
        </div>
        <div class="col-sm-1">
            <input class="form-check-input my-corp-attendance"
                   data-content="@string.Format("{0}{1}",Model.Item2, students[i].UserId)"
                   type="checkbox"
                   @isChecked />
        </div>
        <div class="col-sm-4 text-center">
            <select class="form-control form-control-sm my-corp-homework"
                    data-content="@string.Format("{0}{1}",Model.Item2, students[i].UserId)">
                <option @(isSelected == HomeWorkType.No ? "selected" : null)      value="@HomeWorkType.No.ToString("G")">Не выполнено</option>
                <option @(isSelected == HomeWorkType.Partial ? "selected" : null) value="@HomeWorkType.Partial.ToString("G")">Частично выполнено</option>
                <option @(isSelected == HomeWorkType.Yes ? "selected" : null)     value="@HomeWorkType.Yes.ToString("G")">Выполнено</option>
            </select>
        </div>
        @*<div class="col-sm-2">
                <input class="form-control form-control-sm"
                       type="text" />
            </div>*@
        <div class="col-sm-2 text-center">
            @await _repoCorpStud.GetCorpStudentCurrentLevelAsync(students[i].UserId)
        </div>
        <div class="col-sm-2 text-center">
            <a class="collapsed"
               href="@string.Format("#_collapse_{0}", i)"
               aria-controls="@string.Format("_collapse_{0}", i)"
               aria-expanded="false"
               data-toggle="collapse">
                Добавить
            </a>
        </div>
    </div>
    <div class="collapse" role="tabpanel"
         aria-labelledby="@string.Format("_heading_{0}", i)"
         id="@string.Format("_collapse_{0}", i)"
         data-parent="#accordion">
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <span class="help-block small">
                    Дата теста
                </span>
                <input class="form-control form-control-sm"
                       value="@DateTime.Now.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)"
                       type="text"
                       disabled>
            </div>
            <div class="col-sm-2">
                <span class="help-block small">
                    Выберите тип теста
                </span>
                <select class="form-control form-control-sm"
                        name="@string.Format("_type,{0},{1},{2}",Model.Item2 ,Model.Item3, students[i].UserId)">
                    <option @(resultType == TestType.Speaking ? "selected" : null)>@TestType.Speaking.ToString("G")</option>
                    <option @(resultType == TestType.Listening ? "selected" : null)>@TestType.Listening.ToString("G")</option>
                    <option @(resultType == TestType.Reading ? "selected" : null)>@TestType.Reading.ToString("G")</option>
                    <option @(resultType == TestType.Grammar ? "selected" : null)>@TestType.Grammar.ToString("G")</option>
                </select>
            </div>
            <div class="col-sm-3">
                <span class="help-block small">
                    Внесите результат теста
                </span>
                <input class="form-control form-control-sm my-results-musk"
                       name="@string.Format("_result,{0},{1},{2}",Model.Item2 ,Model.Item3, students[i].UserId)"
                       value="@testResult.Result"
                       type="text">
            </div>
            <div class="col-sm-2 d-flex align-items-end ">
                <button class="btn btn-sm btn-success my-testresult-btn-sbmt"
                        data-content="@string.Format("{0},{1},{2}",Model.Item2 ,Model.Item3, students[i].UserId)">
                    Подтвердить
                </button>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('.my-results-musk').mask('##0');
    });
</script>