﻿@model int
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject OnlineClass.Server.IAppState _appState
@{
    int selectedGroupId = _appState.SelectedGroup;
}

<div class="card my-card fade-in">
    <div class="card-header">
        Список уроков группы
    </div>
    <div class="card-body"
         id="_group_lessons_cardbody">
        <partial name="_Partial_Lessons_CardBody"
                 model="@(selectedGroupId, Model)" />
    </div>
</div>

<script>

    $(document).on('click touchstart', '.my-pg-btn', function () {

        $.post('/dashboard/group/lessonspagebtnclick', {
            page: $(this).attr('data-content'),
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
        }, function (res) {
            $('#_group_lessons_cardbody').empty();
            $('#_group_lessons_cardbody').append(res);
        });
    });
</script>