﻿@model (int, int)
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject OCSolution.Business.IServGroups _servGroups
@{
    var student = await _servGroups.GetNewPinnedStudentAsync(Model.Item1, Model.Item2);
}

<tr>
    <td>
        <div>@student.FullName</div>
        <div class="small text-muted">
            @student.Email
        </div>
    </td>
    <td>
        <div>Стартовый уровень</div>
    </td>
    <td>
            <input class="form-control form-control-sm"
                   id="@string.Format("_{0}_{1}", student.GroupId, student.Id)"
                   value="@student.StartLvl"
                   name="StartLvl"
                   style="width:150px" />
    </td>
    <td>
        <button class="btn btn-sm btn-success corp-usr-submit"
                value="@string.Format("#_{0}_{1}", student.GroupId, student.Id)">
            Сохранить
        </button>
    </td>
</tr>