﻿@model string
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using static OCSolution.Business.Utils.StringConstant
@inject OnlineClass.Server.IAppState _appState
@inject OCSolution.Persistance.IRepoGroupTranlations _repoGrTranlate
@inject OCSolution.Business.IServCorpStudents _servStudents
@{
    int studId = _appState.SelectedStudent;
    string fullName = await _servStudents.GetStudentFullNameAsync(studId);
    var lvls = await _servStudents.GetStudentsLvlsAsync(studId);

    string initPeriod = Model == null ? $"{DateTime.Now.AddDays(-30):dd/MM/yyyy} - {DateTime.Now:dd/MM/yyyy}" : Model;

}

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6"
         style="margin:-50px 0 5px 0;">
        @if (TempData[STUDENT_TESTRESULT_ALERT] != null)
        {
            <partial name="_Component_Notification"
                     model="TempData[STUDENT_TESTRESULT_ALERT]" />
        }
    </div>
    <div class="col-sm-3"></div>
</div>


<div class="card my-card fade-in">
    <div class="card-header d-flex justify-content-between px-3">
        <div>Статистика студента</div>
        <div style="margin-left: -110px">
            <div class="input-group">
                <input class="form-control form-control-sm"
                       value="@initPeriod"
                       name="daterange"
                       type="text" />
                <div class="input-group-append">
                    <span class="input-group-text"
                          title="период выборки">
                        <svg class="c-icon c-icon-sm">
                            <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-calendar"></use>
                        </svg>
                    </span>
                </div>
            </div>
            <span class="help-block small"
                  style="color:red; margin-bottom:-7px">
                @TempData[STUDENT_DATEPICKER_ALERT]
            </span>
        </div>
        <div>
            <a href="javascript:(print());"
               title="на печать">
                <svg class="c-icon my-point-link ml-2">
                    <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-print"></use>
                </svg>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 font-lg"
                 id="_stud_info_2">
                <div class="row">
                    <div class="col-sm-6 text-right">
                        ФИО:
                    </div>
                    <div class="col-sm-6 text-left">
                        @fullName
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-right">
                        Группа:
                    </div>
                    <div class="col-sm-6 text-left">
                        @await _repoGrTranlate.GetGroupNameByIdAsync(_appState.SelectedGroup)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-right">
                        Стартовый уровень:
                    </div>
                    <div class="col-sm-6 text-left">
                        @(lvls.Item1 != null ? lvls.Item1 : "не установлен")
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-right">
                        Текущий уровень:
                    </div>
                    <div class="col-sm-6 text-left"
                         id="_print_stat_lvl">
                        @(lvls.Item2 != null ? lvls.Item2 : "не установлен")
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-right">
                        Уроков завершено:
                    </div>
                    <div class="col-sm-6 text-left">
                        @await _servStudents.GetStudentCompletedLessonsAsync(studId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-right">
                        Посещаемость:
                    </div>
                    <div class="col-sm-6 text-left">
                        @string.Format("{0:0.00} %", await _servStudents.GetStudentAttendanceAsync(studId))
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-right">
                        Эффективность:
                    </div>
                    <div class="col-sm-6 text-left">
                        @string.Format("{0:0.00} %", await _servStudents.GetStudentEffectivityAsync(studId))
                    </div>
                </div>
            </div>
            <div class="col-sm-4 font-lg"
                 id="_stud_info"
                 style="position:relative; top: 40px; left:90px">
                <div class="row">
                    <div class="col-sm-4 text-right">
                        ФИО:
                    </div>
                    <div class="col-sm-4 text-left"
                         style="width: 50px">
                        @fullName
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        Группа:
                    </div>
                    <div class="col-sm-4 text-left">
                        @await _repoGrTranlate.GetGroupNameByIdAsync(_appState.SelectedGroup)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        Стартовый уровень:
                    </div>
                    <div class="col-sm-4 text-left">
                        @(lvls.Item1 != null ? lvls.Item1 : "не установлен")
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        Текущий уровень:
                    </div>
                    <div class="col-sm-4 text-left"
                         id="_main_stat_lvl">
                        @(lvls.Item2 != null ? lvls.Item2 : "не установлен")
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        Уроков завершено:
                    </div>
                    <div class="col-sm-4 text-left">
                        @await _servStudents.GetStudentCompletedLessonsAsync(studId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        Посещаемость:
                    </div>
                    <div class="col-sm-4 text-left">
                        @string.Format("{0:0.00} %", await _servStudents.GetStudentAttendanceAsync(studId))
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        Эффективность:
                    </div>
                    <div class="col-sm-4 text-left">
                        @string.Format("{0:0.00} %", await _servStudents.GetStudentEffectivityAsync(studId))
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="c-chart-wrapper"
                     id="_listening_chart">
                    <canvas class="chartjs-render-monitor"
                            id="_canvas_listening"></canvas>
                </div>
                <div id="_listening_stats__rendering"></div>
            </div>
            <div class="col-sm-4">
                <div class="c-chart-wrapper"
                     id="_speak_chart">
                    <canvas class="chartjs-render-monitor"
                            id="_canvas_speaking"></canvas>
                </div>
                <div id="_speaking_stats__rendering"></div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-sm-4">
                <div class="c-chart-wrapper text-center"
                     id="_dz_chart">
                    <h3>Домашние задания</h3>
                    <canvas class="chartjs-render-monitor"
                            id="_canvas_stats"></canvas>
                </div>
                <div id="_hw_stats__rendering"></div>
            </div>
            <div class="col-sm-4">
                <div class="c-chart-wrapper"
                     id="_grammar_chart">
                    <canvas class="chartjs-render-monitor"
                            id="_canvas_grammar"></canvas>
                </div>
                <div id="_grammarg_stats__rendering"></div>
            </div>
            <div class="col-sm-4">
                <div class="c-chart-wrapper"
                     id="_read_chart">
                    <canvas class="chartjs-render-monitor"
                            id="_canvas_reading"></canvas>
                </div>
                <div id="_reading_stats__rendering"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var requestToken = $('input[name="__RequestVerificationToken"]').val();

        $.post('/dashboard/student/StudentHomework', {
            __RequestVerificationToken: requestToken,
            date: $("input[name=daterange]").val()
        }, function (result) {
            console.log(result);
            $('#_hw_stats__rendering').empty();
            $('#_hw_stats__rendering').append(result);
        });

        $.post('/dashboard/student/ChartListening', {
            __RequestVerificationToken: requestToken,
            date: $("input[name=daterange]").val()
        }, function (result) {
            console.log(result);
            $('#_listening_stats__rendering').empty();
            $('#_listening_stats__rendering').append(result);
        });

        $.post('/dashboard/student/ChartSpeaking', {
            __RequestVerificationToken: requestToken,
            date: $("input[name=daterange]").val()
        }, function (result) {
            $('#_speaking_stats__rendering').empty();
            $('#_speaking_stats__rendering').append(result);
        });

        $.post('/dashboard/student/ChartGrammar', {
            __RequestVerificationToken: requestToken,
            date: $("input[name=daterange]").val()
        }, function (result) {
            console.log(result);
            $('#_grammarg_stats__rendering').empty();
            $('#_grammarg_stats__rendering').append(result);
        });

        $.post('/dashboard/student/ChartReading', {
            __RequestVerificationToken: requestToken,
            date: $("input[name=daterange]").val()
        }, function (result) {
            console.log(result);
            $('#_reading_stats__rendering').empty();
            $('#_reading_stats__rendering').append(result);
        });
    });

    $(function () {
        $('input[name="daterange"]').daterangepicker({
            applyButtonClasses: 'btn btn-sm btn-success',
            cancelButtonClasses: 'btn btn-sm btn-light',
            opens: 'left',
            locale: {
                format: 'DD/MM/YYYY',
                applyLabel: 'Готово',
                cancelLabel: 'Отмена',
                daysOfWeek: [
                    'Вс',
                    'Пн',
                    'Вт',
                    'Ср',
                    'Чт',
                    'Пт',
                    'Сб'
                ],
                monthNames: [
                    'Январь',
                    'Февраль',
                    'Март',
                    'Апрель',
                    'Май',
                    'Июнь',
                    'Июль',
                    'Август',
                    'Сентябрь',
                    'Октябрь',
                    'Ноябрь',
                    'Декабрь'
                ]
            }
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));

            $.get('/dashboard/student/spinner', {
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
            }, spinnerRes => UpdateAreaCard($('input[name="__RequestVerificationToken"]').val(),
                spinnerRes, (start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'))));

            function UpdateAreaCard(token, spinner, datepicker) {
                $('#_student_area_card').empty();
                $('#_student_area_card').append(spinner);

                $.post('/dashboard/student/updatestudentareacard', {
                    date: datepicker,
                    __RequestVerificationToken: token
                }, function (res2) {
                    console.log("student areacard updated");
                    $('#_student_area_card').empty();
                    $('#_student_area_card').append(res2);
                });
            }
        });
    });
</script>