﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject OCSolution.Business.IServScheduler _servScheduler
@inject OnlineClass.Server.IAppState _appState
@{
    var scheduler = _servScheduler.GetCurrentScheduler(_appState.SelectedGroup);
}

<div class="card my-card fade-in">
    <div class="card-header">
        Календарь занятий группы
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <span class="help-block small">Выбор месяца:</span>
                    <select class="form-control form-control-sm"
                            id="_scheduler_month_select">
                        @foreach (var item in _servScheduler.SelectmonthOptions)
                        {
                            if (item.IsSelected)
                            {
                                <option value="@item.Value" selected>@item.Month</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Month</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-4">
                    <span class="help-block small">Выбор года:</span>
                    <select class="form-control form-control-sm"
                            id="_scheduler_year_select">
                        @foreach (var item in _servScheduler.SelectyearOptions)
                        {
                            if (item.IsSelected)
                            {
                                <option value="@item.Value" selected>@item.Year</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Year</option>
                            }
                        }
                    </select>
                </div>
                @*<div class="col-sm-2">
                    <span class="help-block small">Выбор группы:</span>
                    <select class="form-control form-control-sm">
                        <option>Группа 122</option>
                        <option>Группа 231</option>
                    </select>
                </div>*@
                @*<div class="col-sm-2">
                    <span class="help-block small">Выбор статуса:</span>
                    <select class="form-control form-control-sm">
                        <option>Статус 1</option>
                        <option>Статус 2</option>
                    </select>
                </div>*@
                <div class="col-sm-4 d-flex align-items-end">
                    <div class="col-sm-3 badge badge-secondary mr-1 mb-1">New</div>
                    <div class="col-sm-3 badge badge-success mr-1 mb-1">Successful</div>
                    <div class="col-sm-3 badge badge-danger mr-1 mb-1">Problem</div>
                </div>
            </div>
            <div id="_scheduler_table">
                <partial name="_Partial_Calendar"
                         model="@scheduler" />
            </div>
        </div>
    </div>
</div>