﻿@model (string, int)
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="card my-card fade-in">
    <div class="card-header">
        Студенты компании
    </div>
    <div class="card-body"
         id="_company_students_cardbody">
        <partial name="_Partial_Company_Student_CardBody"
                 model="@Model" />
    </div>
</div>

<script>
    $(document).on('click touchstart', '.my-pg-btn', function () {
        $.post('/dashboard/company/pagebtnclick', {
            groups: $('#_company_students').attr('data-content'),
            page: $(this).attr('data-content'),
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
        }, function (res) {
                $('#_company_students_cardbody').empty();
                $('#_company_students_cardbody').append(res);
        });
    });

    $(document).on('click touchstart', '.my-btn-go-to-student-page', function () {
        $.post('/dashboard/company/gotostudentpage', {
            groupId: $(this).attr('data-target'),
            userId: $(this).attr('data-content'),
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
        }, function (res) {
                console.log('redirected to student page' + res);
                location.href = res;
        });
    });
</script>