﻿@model (string, int)
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="card my-card fade-in">
    <div class="card-header">
        Группы компании
    </div>
    <div class="card-body"
         id="_company_groupss_cardbody">
        <partial name="_Partial_Company_Group_CardBody"
                 model="@Model"/>
    </div>
</div>

<script>
    function goToGroup(id) {
        console.log(id);
        $.post('/dashboard/company/gotogroups', {
            groupId: id,
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
        }, function (res) {
            location.href = '/dashboard/group';
        });
    }

    $(document).on('click touchstart', '.my-btn-go-to-group-page', function () {
        $.post('/dashboard/company/gotogrouppage', {
            groupId: $(this).attr('data-content'),
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
        }, function (res) {
            console.log('redirected to group page' + res);
            location.href = res;
        });
    });

    $(document).on('click touchstart', '.my-pg-btn', function () {

        $.post('/dashboard/company/pagebtnclickgroups', {
            groups: $('#_company_groups').attr('data-content'),
            page: $(this).attr('data-content'),
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
        }, function (res) {
            $('#_company_groupss_cardbody').empty();
            $('#_company_groupss_cardbody').append(res);
        });
    });
</script>
