﻿@model OCSolution.Business.Models.DTO.DtoCompanyCorpStudent
@inject OCSolution.Business.IServCorpStudents _servStudents
@{ 
    var effectivity = (int)(await _servStudents.GetStudentEffectivityAsync(Model.UserId));
}

<div class="progress">
    <div class="progress-bar bg-success"
         style="width:@string.Format("{0}%", effectivity)"
         aria-valuenow="@effectivity"
         aria-valuemin="0"
         aria-valuemax="50"
         role="progressbar">
        @string.Format("{0}%", effectivity)
    </div>
</div>