﻿@model (string, int)
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using static OCSolution.Business.Extensions.StringExtensions
@inject OCSolution.Business.IServCorpStudents _servCorpStudents
@{
    OCSolution.Business.Models.DTO.DtoPaginatorCorpStudents paginator = null;
}

<table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
        <tr>
            <th class="text-center">Группа</th>
            <th class="text-center">ФИО</th>
            <th class="text-center">Посещаемость</th>
            <th class="text-center">Эффективность</th>
            <th class="text-center">Стартовый уровень</th>
            <th class="text-center">Текущий уровень</th>
            <th class="text-center">Пройдено уроков</th>
            <th class="text-center">Пропущено уроков</th>
            @*<th class="text-center">Расписание</th>*@
            <th class="text-center">Информация</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Item1 == null || Model.Item1 == "0")
        {
            <tr>
                <td colspan="10">нет данных для отображения</td>
            </tr>
        }
        else
        {
            paginator = await _servCorpStudents.GetCompanyCorpStudentsPageAsync(Model.Item1.ToIdList(), Model.Item2);

            <partial name="_Partial_PaginatedPage"
                     model="@paginator" />
        }
    </tbody>
</table>
@if (paginator != null && paginator.PageCount > 1)
{
    <nav style="margin:15px 0 0 0"
         aria-label="Corp Students Navigated Page"
         id="_students_paginator">
        <partial name="_Paginator_CorpStudents"
                 model="paginator" />
    </nav>
}