﻿@model OCSolution.Business.Models.DTO.DtoPaginatorCompanyGroups
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject OCSolution.Persistance.IRepoGroupTranlations _repoGrTranlate
@inject OnlineClass.Server.IAppSession _appSession

@foreach (var group in Model.List)
{
    <tr>
        <td class="text-center">
            @await _repoGrTranlate.GetGroupNameByIdAsync(group.GroupNumber_id)
        </td>
        <td class="text-center">
            @if (_appSession.AppUser.Type == OCSolution.Persistance.Enums.IdentityType.Admin)
            {
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4"
                         style="position:relative; bottom:-10px;">
                        @group.TeacherName
                    </div>
                    <div class="col-sm-2">
                        <div class="help-block small">Логин:</div>
                        <div><i>@group.TeacherCreads.Item1</i></div>
                    </div>
                    <div class="col-sm-2">
                        <div class="help-block small">Пароль:</div>
                        <div><i>@group.TeacherCreads.Item2</i></div>
                    </div>
                </div>
             }
             else
             {
                    @group.TeacherName
             }
            </td>
        <td class="text-center">
            <button class="btn btn-block btn-link my-btn-go-to-group-page"
                    data-content="@group.GroupNumber_id">
                Открыть
            </button>
        </td>
        @*<td class="text-center">
                @group.LastLesson
            </td>*@
        <td class="text-center">
            <button class="btn btn-sm btn-success"
                    data-content="@group.GroupNumber_id"
                    onclick="goToGroup($(this).attr('data-content'))">
                Просмотр
            </button>
        </td>
    </tr>
}