﻿.c-wrapper header {
    display: none;
}

#_efectivnes_canvas_g {
    margin-top: 40px;
    margin-left: -180px;
}

#_efectivnes_canvas_с {
    margin-top: 40px;
    margin-left: -180px;
}

#_effectivness_cont h3 {
    margin-top: 40px;
    margin-left: -50px;
}

#_other_cont_g .row{
    padding-top: 30px;
    margin-left: -120px;
}

#_other_cont_g h3 {
    margin-left: 120px;
}

#_stud_info .row .col-sm-4 {
    display: none;
}

div #_stud_info_2 {
    display: block;
    margin-left: -250px;
    margin-top: 150px;
}

div #_dz_title {
    display: block;
    position: absolute;
    top: 380px;
    left: 80px;
}

div #_dz_title_old {
    display: none;
}

.row #_dz_chart {
    position: absolute;
    left: 500px;
    top: -270px;
}

.row #_listening_chart {
    position: absolute;
    left: -405px;
    top: 550px;
    width: 90%;
}

.row #_read_chart {
    position: absolute;
    right: 225px;
    top: 160px;
    width: 90%;
}

.row #_speak_chart {
    position: absolute;
    right: 225px;
    top: 550px;
    width: 90%;
}

.row #_grammar_chart {
    position: absolute;
    left: -405px;
    top: 160px;
    width: 90%;
}
