﻿/* Custom CSS
 ---------------------------------------- */

.unautorize-notify {
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.my-point-link {
    cursor: pointer;
}

.my-header-link {
    text-decoration: none;
}
.my-header-link:hover {
    text-decoration: none;
}

.dashed-link {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.my-add-bot-btn{
    margin-left: -10px;
    cursor: pointer;
}

.my-inline-checkbox {
    display: inline-block;
    margin-right: 35px;
}

.my-inline-absent {
    display: inline-block;
    margin-left: 33%;
}

.my-overflow-1 {
    overflow-y: scroll;
    height: 700px;
    padding-left:5px;
}

.my-overflow-2 {
    overflow-y: scroll;
    height: 700px;
    padding-left: 5px;
}

.my-overflow-3 {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
}

.my-card {
    margin-top: -15px;
}

#_stud_info_2, #_dz_title {
    display: none;
}

.loginNotify {
    margin-top: -20px;
    margin-bottom: -10px;
    color: red;
    font-size: small
}


/*----------------spinner-----------------*/
.sk-wave {
    margin: 40px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

    .sk-wave .sk-rect {
        background-color: #4f5d73;
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
        animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    }

    .sk-wave .sk-rect1 {
        -webkit-animation-delay: -1.2s;
        animation-delay: -1.2s;
    }

    .sk-wave .sk-rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .sk-wave .sk-rect3 {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }

    .sk-wave .sk-rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .sk-wave .sk-rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
