﻿@model string

<div class="alert alert-success alert-dismissible fade show mt-4"
     role="alert">
    @Model
    <button class="close"
            type="button"
            data-dismiss="alert"
            aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>