﻿<li class="c-sidebar-nav-title">
    Функционал
</li>
@*<li class="c-sidebar-nav-item my-point-link">
    <span class="c-sidebar-nav-link">
        <svg class="c-sidebar-nav-icon">
            <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-institution"></use>
        </svg>
        Компании
    </span>
</li>*@
<li class="c-sidebar-nav-item my-point-link">
    <span class="c-sidebar-nav-link">
        <svg class="c-sidebar-nav-icon">
            <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-library"></use>
        </svg>
        Группы
    </span>
</li>
<li class="c-sidebar-nav-item my-point-link">
    <span class="c-sidebar-nav-link">
        <svg class="c-sidebar-nav-icon">
            <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-people"></use>
        </svg>
        Студенты
    </span>
</li>
<li class="c-sidebar-nav-item my-point-link">
    <span class="c-sidebar-nav-link">
        <svg class="c-sidebar-nav-icon">
            <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-grid"></use>
        </svg>
        Календарь занятий
    </span>
</li>
@*<li class="c-sidebar-nav-item my-point-link">
    <span class="c-sidebar-nav-link">
        <svg class="c-sidebar-nav-icon">
            <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-chart-pie"></use>
        </svg>
        Отчеты
    </span>
</li>*@