﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using OCSolution.Persistance.Enums
@inject OnlineClass.Server.IAppState _appState
@inject OCSolution.Business.IServGroups _servGroups
@inject OCSolution.Business.IServCorpStudents _servStudents
@{
    string initPeriod = $"{DateTime.Now:dd/MM/yyyy}";
    var lessons = await _servStudents.GetLessonsForTestResultAsync(_appState.SelectedStudent);
}

<div class="modal-dialog modal-success modal-md"
     role="document">
    <form class="modal-content"
          asp-page-handler="AddTestResult"
          method="post">
        <div class="modal-header">
            <h5 class="modal-title">Добавление результата теста</h5>
            <button data-dismiss="modal"
                    aria-label="Close"
                    class="close"
                    type="button">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-12">
                    <input class="form-control mb-2"
                           value="@initPeriod"
                           name="daterange2"
                           type="text">
                    <span class="help-block small">
                        Урок
                    </span>
                    <select class="form-control mb-2"
                            name="lessonData">
                        @foreach (var lesson in lessons)
                        {
                            <option value="@string.Format("{0},{1}", lesson.LessonId, lesson.TeacherId)">
                                @await _servGroups.GetGroupLessonsTitleAsync(lesson.LessonId)
                            </option>
                        }
                    </select>
                    <span class="help-block small">
                        Тип теста
                    </span>
                    <select class="form-control mb-2"
                            name="testType">
                        <option value="@TestType.Speaking.ToString("G")">@TestType.Speaking.ToString("G")</option>
                        <option value="@TestType.Listening.ToString("G")">@TestType.Listening.ToString("G")</option>
                        <option value="@TestType.Reading.ToString("G")">@TestType.Reading.ToString("G")</option>
                        <option value="@TestType.Grammar.ToString("G")">@TestType.Grammar.ToString("G")</option>
                    </select>
                    <span class="help-block small">
                        Результат теста, %
                    </span>
                    <input class="form-control my-results-musk"
                           name="result"
                           type="text">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary modal-close-action"
                    data-dismiss="modal"
                    type="button">
                Отмена
            </button>
            <button class="btn btn-success"
                    id="_add_test_result"
                    type="submit">
                Добавить
            </button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('.my-results-musk').mask('##0');
    });

    $(function () {
        $('input[name="daterange2"]').daterangepicker({
            maxYear: parseInt(moment().format('YYYY'), 10),
            applyButtonClasses: 'btn btn-sm btn-success',
            cancelButtonClasses: 'btn btn-sm btn-light',
            singleDatePicker: true,
            minYear: 2021,
            opens: 'left',
            locale: {
                format: 'DD/MM/YYYY',
                applyLabel: 'Готово',
                cancelLabel: 'Отмена',
                daysOfWeek: [
                    'Вс',
                    'Пн',
                    'Вт',
                    'Ср',
                    'Чт',
                    'Пт',
                    'Сб'
                ],
                monthNames: [
                    'Январь',
                    'Февраль',
                    'Март',
                    'Апрель',
                    'Май',
                    'Июнь',
                    'Июль',
                    'Август',
                    'Сентябрь',
                    'Октябрь',
                    'Ноябрь',
                    'Декабрь'
                ]
            }
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
</script>