﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject OCSolution.Persistance.IRepoCorpStudents _repoStudents
@inject OnlineClass.Server.IAppState _appState

<div class="modal-dialog modal-success modal-md"
     role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Изменение уровня студента</h5>
            <button data-dismiss="modal"
                    aria-label="Close"
                    class="close"
                    type="button">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-12">
                    <span class="help-block small">
                        Введите новый уровень
                    </span>
                    <input class="form-control"
                           id="_new_student_level_input"
                           placeholder="@await _repoStudents.GetCorpStudentCurrentLevelAsync(_appState.SelectedStudent)"
                           type="text">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary modal-close-action"
                    data-dismiss="modal"
                    type="button">
                Отмена
            </button>
            <button class="btn btn-success modal-close-action"
                    data-dismiss="modal"
                    id="_btn_submit_change_level">
                Изменить
            </button>
        </div>
    </div>
</div>

<script>
    $(document).on('click touchstart', '#_btn_submit_change_level', function () {
        var requestToken = $('input[name="__RequestVerificationToken"]').val();

        $('#_main_stat_lvl').empty();
        $('#_print_stat_lvl').empty();
        $('#_main_stat_lvl').append($('#_new_student_level_input').val());
        $('#_print_stat_lvl').append($('#_new_student_level_input').val());

        $.post('/dashboard/student/UpdateCurrentLvlv', {
            __RequestVerificationToken: requestToken,
            lvl: $('#_new_student_level_input').val()
        }, function (result) {
                console.log('Current lvl updated: ' + result);
                $('#_new_student_level_input"').val('введите новый уровень');
        });
    });
</script>