﻿<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h1 style="color: #2eb85c">Авторизация</h1>
                        <p class="text-muted">Введите логин и пароль чтобы войти</p>
                        <form method="post" asp-page-handler="login">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <svg class="c-icon">
                                            <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-user"></use>
                                        </svg>
                                    </span>
                                </div>
                                <input class="form-control"
                                       placeholder="Логин"
                                       type="text"
                                       name="login"
                                       required>
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <svg class="c-icon">
                                            <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-lock-locked"></use>
                                        </svg>
                                    </span>
                                </div>
                                <input class="form-control"
                                       placeholder="Пароль"
                                       type="password"
                                       name="password"
                                       required>
                            </div>
                            <p class="loginNotify">@TempData["LoginNotification"]</p>
                            <div class="row pt-3">
                                <div class="col-6">
                                    <button class="btn btn-success btn-ladda px-4"
                                            data-style="zoom-out"
                                            type="submit">
                                        Войти
                                    </button>
                                </div>
                                <div class="col-6 text-right">
                                    @*<button class="btn btn-link px-0" type="button">Забули пароль?</button>*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>