﻿@using static OCSolution.Business.Utils.StringConstant

<!DOCTYPE html>
<html>
<head>
    <base href="./../">
    <meta charset="utf-8">
    <meta name="robots" content="noindex nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="@ViewData[PageDescription]">
    <title>@ViewData[PageTitle]</title>
    <link rel="stylesheet" href="css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="css/print.css" type="text/css" media="print" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="vendors/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>
<body class="c-app @ViewData[UiPropsTheme]">

    @RenderBody()

    @*<script src="vendors/coreui/coreui-pro/js/coreui.bundle.min.js"></script>*@
    <!--[if IE]><!-->
    <script src="vendors/coreui/icons/js/svgxuse.min.js"></script>
    <!--<![endif]-->
    <!-- Plugins and scripts required by this view-->
    <script src="vendors/coreui/utils/js/coreui-utils.js"></script>
    <script src="js/jq.inputmask.min.js"></script>
</body>
</html>
